<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-amqp="http://www.springframework.org/schema/integration/amqp"
	xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xmlns:int-stream="http://www.springframework.org/schema/integration/stream"
	xmlns:cloud="http://schema.cloudfoundry.org/spring"
	xmlns:int-http="http://www.springframework.org/schema/integration/http"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://schema.cloudfoundry.org/spring
			http://schema.cloudfoundry.org/spring/cloudfoundry-spring.xsd
			http://www.springframework.org/schema/integration
			http://www.springframework.org/schema/integration/spring-integration.xsd
			http://www.springframework.org/schema/integration/http
			http://www.springframework.org/schema/integration/http/spring-integration-http-5.1.xsd
			http://www.springframework.org/schema/integration/amqp
			http://www.springframework.org/schema/integration/amqp/spring-integration-amqp.xsd
			http://www.springframework.org/schema/rabbit
			http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
			http://www.springframework.org/schema/integration/stream
			http://www.springframework.org/schema/integration/stream/spring-integration-stream.xsd">

	<!-- To receive an AMQP Message from a Queue, and respond to its reply-to address, configure an inbound-gateway. -->
	<int-amqp:inbound-gateway
		id="comp1-inboundgw"
		request-channel="requestChannel"
		queue-names="q-halver"
		connection-factory="connectionFactory" />

	<int:chain input-channel="requestChannel">
		<int:json-to-object-transformer type="com.teck.halver.Comp1Thing"/>
		<int:service-activator method="myService">
			<bean class="com.teck.halver.Halver"/>
		</int:service-activator>
		<int:object-to-json-transformer/>
	</int:chain>

	<!-- Infrastructure -->

	<!-- Request that queues, exchanges and bindings be automatically declared
		on the broker: -->
	<rabbit:connection-factory id="connectionFactory" host="localhost" />

	<!-- Set up the AmqpTemplate/RabbitTemplate: -->
	<rabbit:template id="amqpTemplate" connection-factory="connectionFactory" />

	<!-- Rabbit connection factory (uses all defaults: localhost/guest account/port #) -->
	<rabbit:admin connection-factory="connectionFactory" />

	<rabbit:queue name="q-halver" auto-delete="false" />

	<rabbit:topic-exchange name="si.teck.exchange" auto-delete="false" durable="true">
		<rabbit:bindings>
			<rabbit:binding queue="q-halver" pattern="wkflw2.main.toHalver"/>
		</rabbit:bindings>
	</rabbit:topic-exchange>
</beans>
